PORT=5000
MONGODB_URI=mongodb://2k24cse120_db_user:892gw7N0Ui9QgkX8@ac-jkvnnbk-shard-00-00.lskjzm8.mongodb.net:27017,ac-jkvnnbk-shard-00-01.lskjzm8.mongodb.net:27017,ac-jkvnnbk-shard-00-02.lskjzm8.mongodb.net:27017/?ssl=true&replicaSet=atlas-og9zfd-shard-0&authSource=admin&appName=Cluster0
TOKEN_SECRET=replace-with-a-long-random-secret
CLIENT_URL=http://localhost:5173
